@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#basemaps-wrapper {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 400;
	background: white;
	padding: 10px;
}

#basemaps {
	margin-bottom: 5px;
}

.outertable {	
	border-collapse: collapse; 	
	width: 100%x; 	
	text-align: right; 	
	padding: 5px; 	
	border: 1px solid black; 
}

.rightcolumn {
	font: bold 12px Arial; 
	background-color: #bfd6e4; 	
	color: #000; 	
	width: 22%; 	
	border-collapse: collapse; 	
	text-align: right; 	
	padding: 8px; 
	border: 1px solid black; 	
	border-collapse: collapse;
}

.th { 	
	border-collapse: collapse; 	
	width: 500px; 	
	text-align: right; 	
	padding: 8px; 	
	border: 1px solid black; 
}

.td { 
	font: bold 12px Arial; 
	border-collapse: collapse; 	
	width: 500px;	
	text-align: right; 	
	padding: 8px; 	
	border: 1px solid black;
	color: black; 
}

.td-button { 
	font: bold 12px Arial; 
	border-collapse: collapse; 	
	text-align: right; 	
	padding: 12px; 	
}

.innertable {	
	border-collapse: collapse;	
	width: 100%;	
	text-align: right;	
	padding: 8px;	
	border: 1px solid black;
}

#infowindow {	
	background-color: #eee;	
	right: 0px;	
	position: absolute; 	
	top: 144px; 	
	height: 550px; 	
	width: 20%; 
}

.infowindowimg {
	display: block; 	
	margin-left: auto; 	
	margin-right: auto;
	margin-bottom: 10px;
}

.divider {
	width: 5px; 	
	height: auto; 	
	display: inline-block;
}

.button {
	font: bold 14px Arial; 	
	text-decoration: none; 	
	background-color: #bbffbb; 	
	color: black; 	
	padding: 8px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.button:hover, .button:focus, .btnsearch:hover, .btnsearch:focus {
	background-color: #44a959;
	color: #bbffbb;
	text-decoration: none;
	cursor: pointer;
}

.beh_container{
				width:100%;
				height:100%;
				/*text-align: center;*/
				font-size: 1vw;
			}
			
.beh_main2{
				width:100%;
				height:calc(100% - 5% - 7vw); /* footer height: 5% & header height: 7vw*/
				padding:0;
				margin:0;
				background-color:#eee;
			}
			
.beh_main_aboutus {
	width:100%;
	height:100%;
	padding: 0; 
	margin: 0;
	background-color:#eee;
	float:left;
	overflow:auto;
}

.aboutauthority_h1{
	text-align: center;
	margin: 0.5% 0% 0.5% 40%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5em;
    padding: 15px 15px 15px 3%;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    width: 19%;
}

.supervisors_container_div{ 
	/*changed*/
	box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    height: 22vw;
    width: 70%;
    margin: 2% 0 1% 15%;
}

.supervisors_row_about_main {
	float: right;
	width: 50%;
}

.card_about {
	padding: 25px;
	text-align: center;
}

.photo_head {
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	transform: scale(0.8);
	transition: transform 0.4s ease;
	filter: saturate(1.5);
	padding: 0.5vw;
}

.person_title {
	color: #444;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.4vw;
}

.person_desc {
	color: #aaa;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.4vw;
}

.team_div {
	width: 100%;
	margin-top: 2%;
}

.team_h1{
	text-align: center;
	margin: 0.5% 0% 0.5% 43%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5em;
    padding: 1vw;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    width: 15%;
}

.row_about:after, .row_about_main:after {
	content: "";
	display: table;
	clear: both;
}

.dataanalysisteam_div {
	width:100%;
	margin-top:2%;
}

.dataanalysisteam_h3 {
	text-align: center;
    margin: 0.5% 5% 0.5% 47%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    padding: 1vw;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    width: 48%;
}

.dataanalysisteam_container_div{
	box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    height: 22vw;
    width: 90%;
    margin: 1% 5%;
}

.row_about {
	width: 100%;
	float: right;
	margin-right: 3%;
}

.column_about {
	float: right;
	width: 16%;
}

.surveyteam_div {
	width:100%;
	margin-top:2%;
}

.surveyteam_h3 {
	text-align: center;
    margin: 0.5% 5% 0.5% 62%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    padding: 1vw;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    width: 33%;
}

.surveyteam_container_div{
	box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    height: 22vw;
    width: 90%;
    margin: 1% 5%;
}

.governorateteam_div {
	width:100%;
	padding-top:2%;
}

.governorateteam_h3 {
	text-align: center;
    margin: 0.5% 5% 0.5% 76%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    padding: 1vw;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    width: 19%;
}

.governorateteam_container_div{
	box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    height: 22vw;
    width: 90%;
    margin: 1% 5%;
}

.natronteam_div {
	width:100%;
	margin-top:2%;
}

.natronteam_h3 {
	text-align: center;
    margin: 0.5% 5% 0.5% 73%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5em;
    padding: 1vw;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    width: 22%;
}

.natronteam_container_div{
	box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    height: 22vw;
    width: 90%;
    margin: 1% 5%;
}

.beh_main_aboutus p {
    text-align: justify;
    margin: 1% 0 1% 15%;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 29px;
    line-height: 40px;
    padding: 2%;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgb(53 86 129 / 40%), inset 0 0 1.5vw rgb(53 86 129 / 50%), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    background: #fff;
    width: 70%;
}

#procad_data_panel {
	position: absolute;
	top: 7%;
	right: 0.6%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
	width: 10%
}

#narss_data_panel {
	position: absolute;
	top: 45%;
	right: 0.6%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
	width: 10%
}

.warprod_main_3d {
	width:100%;
	height:21%;
	padding: 0; 
	margin: 0;
	background-color:#eee;
	float:left;
	overflow:auto;
}

.warprod_main_3d ul {
    text-align: justify;
    margin: 1% 0 1% 15%;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 22px;
    line-height: 40px;
    padding: 2%;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    background: #fff;
    width: 70%;
}

.warprod_main_cityengine {
	width:100%;
	height:79%;
	padding: 0; 
	margin: 0;
	background-color:#eee;
	float:left;
	overflow:auto;
}

.warprod_main_cityengine ul {
    text-align: justify;
    margin: 1% 0 1% 15%;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 22px;
    line-height: 40px;
    padding: 2%;
    color: #355681;
    box-shadow: inset 0 0 0 0.1vw rgba(53,86,129, 0.4), inset 0 0 1.5vw rgba(53,86,129, 0.5), inset -25vw 0 6vw white;
    border-radius: 0.6vw;
    background: #fff;
    width: 70%;
}

#tables th{
	padding: 12px 12px 12px 12px;
    text-align: center;
    background-color: #bfd6e4;
    color: white;
    font-size: 15px;
    font-weight: bold;
}